/*Change items into what you prefer, add items as well in normal CSS fashion. Item should be tocBox */
.scStickyContentTable a::before {
    content: "- ";
    color: #FF3254;
}

.scStickyContentTable a {
    color: #FFF;
    text-decoration: none;
}

.scStickyContentTable a:hover {
    color: #FF3254;
	  font-weight: bold;
}

.scStickyContentTable table,
.scStickyContentTable tr,
.scStickyContentTable td {
  border: none;
}

/* Hide tocBoxMobile by default */
.scStickyContentTableMobile {
    display: none;
}

/* Show tocBoxMobile for viewports up to 768px width (usually includes mobile and tablet devices) */
@media screen and (max-width: 768px) {
    .scStickyContentTableMobile {
        display: block;
    }

    .scStickyContentTableMobile a::before {
        content: "- ";
        color: #FF3254;
    }

    .scStickyContentTableMobile a {
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
    }

    .scStickyContentTableMobile a:hover {
        color: #FF3254;
    }
}
